<div class="container-fluid bg-dark  ">

  <div class="row ">
    <div class="col-md-12  ">

      <br>
      <div class="bg-dark w-100 p-3 text-center rounded text-white">
        <h1 class="text-white">inventario ETL</h1>
        <hr>
      </div>



      <br>

      <h6 class="text-white">Buscar</h6>

      <input [(ngModel)]="buscar" autocomplete="on" placeholder="Buscar" type="search" class="form-control w-25 "><br>

      <table class="table table-dark text-center table-striped  border rounded border-2 ">
        <thead>
          <tr>
            <th>DIRECCION_M</th>
            <th>MACBNET</th>
            <th>COSTO</th>
            <th>CENTRODECOSTO</th>
            <th>PUNTO</th>
            <th>PUNTODEVENTA</th>
            <th>CONEXION</th>
            <th>ESTADO</th>
            <th>VLDMAC</th>
            <th>FECHASYS</th>
            <th>LOGIN</th>
            <th>NIC</th>
            <th>IPNIC</th>
            <th>MAC</th>
            <th>IPVPN</th>
            <th>HOSTNAME</th>
            <th>PRINTERS</th>
            <th>SID</th>
            <th>BIOMETRIC</th>
            <th>BARCODE</th>
            <th>GBFREE</th>
            <th>FIREFOX</th>
            <th>PDATE</th>
            <th>CLIENTEGIROS</th>
            <th>WRAPPERGIROS</th>

          </tr>
        </thead>
        <tbody
          *ngFor="let recorrer of ConsultaDocumentos  | filter:buscar | paginate: { itemsPerPage: 25, currentPage: pages }">

          <tr>
            <td> {{recorrer.DIRECCION_MAC_EQUIPO}} </td>
            <td> {{recorrer.MACBNET}} </td>
            <td> {{recorrer.CCOSTO}} </td>
            <td> {{recorrer.CENTRODECOSTO}} </td>
            <td> {{recorrer.PUNTO}} </td>
            <td> {{recorrer.PUNTODEVENTA}} </td>
            <td> {{recorrer.CONEXION}} </td>
            <td> {{recorrer.ESTADO}} </td>
            <td> {{recorrer.VLDMAC}} </td>
            <td> {{recorrer.FECHASYS}} </td>
            <td> {{recorrer.LOGIN}} </td>
            <td> {{recorrer.NIC}} </td>
            <td> {{recorrer.IPNIC}} </td>
            <td> {{recorrer.MAC}} </td>
            <td> {{recorrer.IPVPN}} </td>
            <td> {{recorrer.HOSTNAME}} </td>
            <td> {{recorrer.PRINTERS}} </td>
            <td> {{recorrer.SID}} </td>
            <td> {{recorrer.BIOMETRIC}} </td>
            <td> {{recorrer.BARCODE}} </td>
            <td> {{recorrer.GBFREE}} </td>
            <td> {{recorrer.FIREFOX}} </td>
            <td> {{recorrer.PDATE}} </td>
            <td> {{recorrer.CLIENTEGIROS}} </td>
            <td> {{recorrer.WRAPPERGIROS}} </td>

        </tbody>

      </table>
      <pagination-controls class="text-light animacion" (pageChange)="pages = $event"></pagination-controls>
    </div>
  </div>


</div>